/* 1440 */

@media (max-width: 1440px) {

  ul {
    gap: 60px;
    font-size: 24px;
  }

  .logo h2 {
    padding-right: 0px;
    font-size: 36px;
  }

  a {
    font-size: 24px;
  }

  h2 {
    font-size: 26px;
  }

  .h2_about {
    margin-bottom: 20px;
  }

  .about_texttwo {
    margin: 50px auto;
  }

  .shapka {
    margin-bottom: 32px;
    height: 60px;
    gap: 40px;
  }
  .linia2 {
    margin-top: 100px;
  }

  .fotologo {
    width: 25px;
    height: 25px;
  }


  h2 {
    font-size: 26px;
  }

  p {
    font-size: 24px;
    padding: 0;
  }

  .linia {
    margin-top: 0px;
  }

  .Telefon {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .tel {
    font-size: 24px;
    margin-bottom: 40px;
    padding-top: 0;
  }

  .pochta {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .Poch {
    font-size: 24px;
    padding-top: 0;
  }

  .spisoc {
    font-size: 24px;
    margin-bottom: 10px;

  }

  .logooo {
    padding-right: 40px;
    margin-bottom: 36px;

  }

  .Razdelfooter {
    margin-top: 60px;
    margin-bottom: 20px;
  }


  .Special {
    margin-top: 80px;
  }

  .konf {
    width: 450px;
    height: 450px;
  }

  .Kontakt {
    margin-top: 60px;
    gap: 70px;
  }

  .pochtaaa {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .infoPocht {
    margin-bottom: 0px;
  }

  p {
    font-size: 24px;
  }

  .TelKon {
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 40px;
  }

  .SocKon {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .infoTel {
    margin-bottom: 10px;
  }

  .set {
    width: 50px;
    height: 50px;
  }
}


