/* 1440 */

@media (max-width: 1440px) {

  ul {
    gap: 60px;
    font-size: 22px;
  }

  .logo h2{
    padding-right: 0px;
    font-size: 36px;
  }

  a {
    font-size: 22px;
  }

  h2 {
    font-size: 26px;
  }

  .h2_about {
    margin-bottom: 20px;
  }

  .about_texttwo {
    margin: 50px auto;
  }

  .shapka {
    margin-bottom: 32px;
    height: 60px;
    gap: 40px;
  }

  .fotologo {
    width: 25px;
    height: 25px;
  }

  .Baner {
    width: 100%;
    background-size: contain;
    height: 688px;
    background-position: center;
    margin-top: 20px;
  }

  .Nazvanie {
    font-size: 62px;
    text-align: center;
    letter-spacing: 48px;
    padding-top: 224px;
    padding-left: 30px;
  }

  .PODNazvanie {
    font-size: 10px;
    padding-top: 2px;
    padding-left: 3px;
  }

  h2 {
    font-size: 26px;
  }
  .linia2 {
    margin-top: 100px;
  }

  p {
    font-size: 22px;
    padding: 0;
  }

  .linia {
    margin-top:0 px;
  }

  .Telefon {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .tel {
    font-size: 22px;
    margin-bottom: 40px;
    padding-top: 0;
  }

  .pochta {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .Poch {
    font-size: 22px;
    padding-top: 0;
  }

  .spisoc {
    font-size: 22px;
    margin-bottom: 10px;

  }

  .logooo {
    padding-right: 40px;
    margin-bottom: 36px;

  }
  .Razdelfooter {
    margin-top: 60px;
    margin-bottom: 20px;
}


  .Special {
    margin-top: 80px;
    }
    .kartocka {
    margin-top: 60px;
    gap: 20px;
}
.ft {
    width: 100%;
    height: 400px;
}
.vibor {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 32px;
}
.info {
    margin-bottom: 8px;
    font-size: 22px;
}

.info br{
  display: none;
}
.socseti {
    font-size: 24px;
    margin-top: 32px;
}
.Seti {
    margin-top: 20px;
    gap: 20px;
}
.set{
    width: 50px;
    height: 50px;
}

.PereiteProf {
     width: 100%;
    height: 55px;
    text-align: center;
    border: 2px solid #E0EDFF;
    border-radius: 10px;
    font-weight: bold;
    font-weight: 300;
    font-size: 22px;
    margin-top: 32px;
    }

    .liniaFree {
    width: 80%;
    height: 1px;
    margin-top: 80px;
    margin-bottom: 80px;
}
}